[submodule "themes/jeffprod"]
  path = themes/jeffprod
  url = https://github.com/Tazeg/hugo-blog-jeffprod.git
# [submodule "themes/hugo-blog-jeffprod"]
# 	path = themes/hugo-blog-jeffprod
# 	url = https://github.com/Tazeg/hugo-blog-jeffprod.git
